:root {
    --vh: 100%;
}
.page{
    height: calc(var(--vh, 1vh) * 100);
}
.top{
    border-bottom: 5px solid #8790D1;
    height: 10%;
}
.middle{
    /* border: 1px solid green; */
    height: 80%;
    display: flex;
    flex-direction: column;
}
.bottom{
    /* border: 1px solid blue; */
    height: 10%;
}